* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, blanchedalmond, lightskyblue);
    overflow: hidden;
  }
  
  body,
  input,
  textarea,
  select,
  button {
    color: white;
    font: 400 1rem "Roboto", sans-serif;
    border: none;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  main {
   
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .searchBox input {
    border-radius: 8px 0 0 8px;
    border: 0;
    outline: none;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
    color: #000;
    
  }
  
  .searchBox button {
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
  }
  
  .displayBox {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .displayBox img {
    width: 200px;
  }
  
  .displayBox p {
    margin-top: 1rem;
  }
  
  .displayBox .displayInfo {
    padding: 2rem;
  }